.button{
    display: flex;
    justify-content: center;

}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    background-color: black;
    transition: box-shadow 0.1s ease-in;
}

a:hover{
    border: 2px solid white;
    box-shadow: 5px 5px white;
}