.button{
    display: flex;
    justify-content: center;

}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 298px;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-color: hsl(0, 0%, 20%);
    transition: box-shadow 0.1s ease-in;
}

a:hover{
    border: 2px solid hsl(0, 0%, 12%);
    box-shadow: 5px 5px hsl(0, 0%, 8%);
}