body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.box{
    height: auto;
    width: 298px;
    padding: 40px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 0;
    padding-top: 33px;
    padding-bottom: 10px;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 26px;
}

.imageAvatar{
    height: 82px;
    width: auto;
    border-radius: 50%;
}

.contry{
    margin: 0;
    color: rgb(181, 206, 79);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.description{
    margin: 0;
    padding-top: 26px;
    padding-bottom: 24px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

.buttons-links{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    gap: 15px;
}

.button-Youtube{
    margin-top: auto;
}

@media(max-width: 400px){
    .box{
        width: 80vw;
    }
}