body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}

.box{
    height: auto;
    width: 300px;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    text-transform: uppercase;
}

.imageAvatar{
    height: auto;
    width: 100px;
    border-radius: 50%;
}

.buttons-links{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    gap: 15px;
}

.button-Youtube{
    margin-top: auto;
}

@media(max-width: 400px){
    .box{
        width: 80vw;
    }
}